@model IEnumerable<OnlineVideoRentalStore.Models.DtoModels.MovieAllDto>

<h1>Movies: </h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Title
            </th>
            <th>
                Genge
            </th>
            <th>
                Language
            </th>
            <th>
                ReleaseDate
            </th>
            <th>
                Lenght
            </th>
            <th>
                AgeRestriction
            </th>
            <th></th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.Genre
                </td>
                <td>
                    @item.Language
                </td>
                <td>
                    @item.ReleaseDate
                </td>
                <td>
                    @item.Length
                </td>
                <td>
                    @item.AgeRestriction 
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditMovie", "Movie", new { movieId = item.Id })
                </td>
                <td>
                    @Html.ActionLink("Delete", "DeleteMovie", "Movie", new { movieId = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
